@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lamartine Babo St.<br />
    Americana, SP 13473-687<br />
    <abbr title="Celular">Cel:</abbr>
    +55 19 9 9371 1000
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:eloisanerizaranhadacruz@gmail.com">eloisanerizaranhadacruz@gmail.com</a><br />
</address>