@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Questionário de Conhecimentos Gerais</h2>
    <p class="lead">Este é um teste de conhecimentos gerais.</p>
    <p><a href="" class="btn btn-primary btn-lg">Iniciar &raquo;</a></p>
</div>

<div class="row">
    <div >
        <h2>Como foi feito?</h2>
        <p>
            Este questionário possui perguntas aleatórias sobre conhecimentos gerais adquiridos do site <a href="https://opentdb.com/browse.php">https://opentdb.com/browse.php</a>
</p>
    </div>

</div>